body{
    /* background-color: #222438; */
    background-color: #070806;
    margin: 0;
    font-family: Poppins;
}
main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: 
        repeating-linear-gradient(
            to right,
             transparent 0 30px, /* size of the gap */
            #fff1 30px 31px    /* thickness of the line */
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0 30px, 
            #fff1 30px 31px
        );
    position: relative;
}
form{
    background-color: #eee;
    width: max-content;
    padding: 5px;
    margin: 10px;
    border-radius: 24px;
    display: flex;
    gap: 10px;
    font-size: 10px;
    text-align: center;
}
form input, button{
    width: 35px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: small;
    cursor: pointer;
}
form input::-webkit-color-swatch-wrapper{
    padding: 0;
}
form input::-webkit-color-swatch{
    border-radius: 50%;
}
#list textarea {
    all: unset;              
    color: #d6d6d6;
    width: 100%;             
    min-height: 50px;        
    max-height: 300px;       
    overflow-wrap: break-word;
    white-space: pre-wrap;   
    word-wrap: break-word;
    resize: none;            
}
#list .note {
    background-color: #333;
    min-width: 150px;       
    max-width: 250px;       
    border-top: 30px solid #e6b905;
    border-radius: 10px;
    box-shadow: 0 20px 50px #0004;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 50px;
    display: inline-block;
}
#list .note span{
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 30px;
    font-family: cursive;
    font-size: large;
    padding-right: 10px;
    cursor: pointer;
}
